.constructor-wrapper {
  box-sizing: border-box;
  padding: 30px 20px 30px;
  margin-bottom: 50px;
  border: 1px solid #ccc;
  background: rgba(orange, 0.1);
  border-radius: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  &__container {
    min-height: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    border-top-left-radius: 0;
  }

  @media (min-width: 420px) {
    padding: 50px;
  }
}

h1 {
  text-align: center;
}
