.tab-list {
  display: flex;

  &__item {
    position: relative;
    display: flex;
    padding: 5px 30px 5px;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    border: 1px solid #ccc;
    border-bottom: none;
    cursor: pointer;

    & + & {
      border-left: none;
    }

    &--active {
      background-color: orange;
    }

    &--disabled {
      cursor: not-allowed;
      background-color: rgba(255, 255, 255, 0.5);
      color: #ccc;

      &:hover .tab-list__message {
        visibility: visible;
      }
    }
  }

  &__message {
    width: 150px;
    box-sizing: border-box;
    position: absolute;
    top: -30px;
    left: 50%;
    padding: 4px 10px 4px;
    transform: translateX(-50%);
    font-size: 12px;
    color: tomato;
    background-color: #fff;
    border-radius: 5px;
    visibility: hidden;

    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      left: 50%;
      transform: translateX(-50%);
      bottom: -20px;
      border: 10px solid transparent;
      border-top-color: #fff;
    }
  }
}
