.input-date {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  input {
    width: 50%;
    box-sizing: border-box;
  }

  label {
    width: 50%;
    box-sizing: border-box;
    padding-right: 10px;
  }
}
