.generated-form {
  padding: 20px;

  &__title {
    text-align: center;
  }

  &__button {
    display: block;
    margin-bottom: 20px;

    @media (min-width: 420px) {
      display: inline-block;
      margin-right: 20px;
    }
  }

  &__fields-wrapper {
    margin-bottom: 40px;
  }

  &__field-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 40px;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;

    @media (min-width: 420px) {
      font-size: 16px;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: -20px;
      width: 100%;
      transform: (40px);
      height: 1px;
      background-color: rgba(#ccc, 0.5);
    }
  }
}
