.configurator {
  padding: 20px 10px 20px;

  &__textarea {
    display: block;

    &--invalid {
      border: 1px solid tomato;
    }

    &--valid {
      border: 1px solid green;
    }
  }

  &__footer {
    position: relative;
    padding-top: 20px;
  }

  &__message {
    position: absolute;
    top: 4px;
    font-size: 12px;
    visibility: hidden;

    &--valid {
      color: darkgreen;
      visibility: visible;
    }

    &--invalid {
      color: tomato;
      visibility: visible;
    }
  }

  button {
    margin-bottom: 10px;
    display: block;

    @media (min-width: 420px) {
      display: inline-block;
      margin-bottom: 20px;
      margin-right: 20px;
    }
  }

  @media (min-width: 420px) {
    padding: 20px;
  }
}
