.input-radio-list {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  &__title {
    width: 50%;
    box-sizing: border-box;
    padding-right: 10px;
  }

  &__wrapper {
    width: 50%;
  }
}
